---
const { section } = Astro.props
---

<div class="flex flex-col gap-6">
  <h3 class="text-color-placeholder text-sm font-medium">{section.title}</h3>
  <ul class="flex flex-col gap-4">
    {
      section.items.map((item) => (
        <li>
          <a href={item.path} class="text-color-default hover:text-color-primary flex items-center gap-2 text-base font-medium transition-colors">
            {item.icon && (
              <div class="flex items-center justify-center w-7 h-7">
                <i class={`fa-solid ${item.icon} w-4 text-center`} />
              </div>
            )}
            <span>{item.title}</span>
            {/* {item.badge && <span class="text-xs bg-color-info-surface text-color-info-default px-2 py-0.5 rounded-full">{item.badge}</span>} */}
            {item.badge && (
              <plus-chip size="sm" status="success" shape="rounded" invert>
                {item.badge}
              </plus-chip>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</div>
