---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

const {
  item: { category, title, path, image, features, integrations, status, hover },
} = Astro.props

import designSystem from '@assets/images/navbar/design-system.png'
import uiLibrary from '@assets/images/navbar/ui-library.png'
import analytics from '@assets/images/navbar/analytics.png'
import plusAi from '@assets/images/navbar/plus-ai.png'

// const images = [designSystem, uiLibrary, analytics, plusAi]
const images = {
  designSystem,
  uiLibrary,
  analytics,
  plusAi,
}
---

<a
  href={path}
  class="product-card group/product-card flex flex-1 cursor-pointer flex-col items-center gap-7 rounded p-4 transition-colors duration-300 hover:bg-[var(--hover-bg)]"
  style={`--hover-bg: var(${hover.bg})`}
>
  <div class="flex w-full flex-col gap-3">
    <div class="relative h-6" title={category.text}>
      <plus-chip invert={category.invert} size="sm" status={category.status} class="absolute top-0 left-0 transition-opacity duration-300 group-hover/product-card:opacity-0">
        <i class="fa-solid fa-circle text-xxxs mr-1"></i>
        <span class="line-clamp-1">{category.text}</span>
      </plus-chip>
      <plus-chip invert={!category.invert} size="sm" status={category.status} class="absolute top-0 left-0 opacity-0 transition-opacity duration-300 group-hover/product-card:opacity-100">
        <i class="fa-solid fa-circle text-xxxs mr-1"></i>
        <span class="line-clamp-1">{category.text}</span>
      </plus-chip>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="text-color-default text-lg font-semibold">
        {title}
      </h3>
      <div class="h-full w-full overflow-hidden">
        <Image src={images[image]} alt={title} class="product-card-image w-full transition-transform duration-500" loading="lazy" />
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2.5">
    {
      features.map((feature) => (
        <div class="flex flex-col gap-1">
          <h4 class="text-color-default line-clamp-1 text-sm font-medium" title={feature.title}>
            {feature.title}
          </h4>
          <p class="text-color-caption line-clamp-2 text-xs" title={feature.description}>
            {feature.description}
          </p>
        </div>
      ))
    }
  </div>
  <div class="flex w-full items-center justify-start gap-2.5">
    {
      integrations &&
        integrations.map((integration) => (
          <div class="flex h-6 w-6 items-center justify-center">
            <Icon name={`logos:${integration}`} class="h-5 w-5 grayscale filter transition-all duration-300 group-hover/product-card:grayscale-0" />
          </div>
        ))
    }
    {
      status && (
        <plus-chip kind="filled" shape="rounded">
          {status}
        </plus-chip>
      )
    }
  </div>
</a>

<style>
  .product-card {
    &:hover {
      .product-card-image {
        transform: scale(1.2);
      }
    }
  }
</style>
