---
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";


import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/inter-tight/index.css";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "../styles/global.css";
import "@plusui/library/dist/index.css";

export interface Props {
  title?: string;
  footerMargin?: boolean;
  theme?: "light" | "dark";
  headerTheme?: "light" | "dark";
  noNavbar?: boolean;
  noFooter?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const {
  title,
  footerMargin = true,
  theme = "light",
  headerTheme = "light",
  noNavbar = false,
  noFooter = false,
} = Astro.props;

const makeTitle = title
  ? title + " | " + "Plus UI Library"
  : "Plus UI Library - UI Library with high-quality components ";
---

<!doctype html>
<html lang="en" data-theme={theme}>
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Plus UI Library - UI Library with high-quality components for Astro."
      canonical={canonicalURL}
      twitter={{
        creator: "@plusui",
        site: "@plusui",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Plus UI Library - UI Library with high-quality components for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Plus UI Library - UI Library with high-quality components for Astro",
        },
      }}
    />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>

    <ClientRouter />
  </head>
  <body class="font-sans antialiased text-color-default bg-color-surface">
    {!noNavbar && <Navbar headerTheme={headerTheme} />}
    <slot />
    {!noFooter && <Footer margin={footerMargin} />}
    
    <script>
      import "@plusui/library/cdn/components/index.js";
    </script>
  </body>
</html>
